# MongoDB
MONGODB_URI=mongodb://localhost:27017/plastmassa_crm

# JWT
JWT_SECRET=asdfasdfadfadsfadfadsfadsfadsf
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=yasdfasdfasdfasdfasdfadsfadsffds
JWT_REFRESH_EXPIRES_IN=7d

# App
PORT=6000
NODE_ENV=development

# Telegram Bot
TELEGRAM_BOT_TOKEN=
OTP_EXPIRY_MINUTES=5
OTP_MAX_ATTEMPTS=3

# Admin Seed
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_FULLNAME=Administrator
